@charset "UTF-8";

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}

body {
  color: #1B5E20;
  font: 20px "Mplus 1p";
  text-align: center;
  background: #FDD835;
}

.wrapper {
  margin-top: 100px;
}

.ttl {
  color: #C62828;
  font-size: 20px;
}

.box {
  position: relative;
  width: 100%; height: 80px;
}

#display {
  position: absolute;
  top: 0; left: 0;
  margin: 0;
  width: 100%; height: 80px;
  font-size: 40px;
  line-height: 40px;
  overflow: hidden;
}

#area {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 80px;
  opacity: 0;
}